nz-header {
  background-color: transparent;
}

.logo {
  height: 45px;
  width: auto;
}

.logoli:hover{
  text-decoration: none;
}

.user {
  float: right;
  display: flex;
}

.notconnected {
  float: right;
  display: flex;
}

.connected {
  float: right;
  display: flex;
}