<ul nz-menu nzMode="horizontal">
    <li routerLink="/" nz-menu-item>
        <span nz-icon nzType="home" nzTheme="outline"></span>
        Accueil
    </li>
    <li routerLink="/planning" nz-menu-item>
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        Reservations
    </li>
    <li routerLink="contact" nz-menu-item>
        <span nz-icon nzType="/contacts" nzTheme="outline"></span>
        Nous contacter
    </li>
    <div class="user">
        <li nz-menu-item>
            <button routerLink="/login" nz-button nzType="primary"><span nz-icon nzType="user" nzTheme="outline"></span> Seconnecter</button>
        </li>
        <li nz-menu-item>
            <button routerLink="/register" nz-button nzType="primary"><span nz-icon nzType="user-add" nzTheme="outline"></span>S'enregistrer</button>
        </li>
    </div>
</ul>