<app-header></app-header>
<div class="content">
    <div nz-row>
        <div nz-col nzSpan="17">
            <nz-calendar [nzDisabledDate]="checkpassdate" (nzSelectChange)="select($event)" [(ngModel)]="date"
                [(nzMode)]="mode" (nzPanelChange)="panelChange($event)"></nz-calendar>
        </div>

        <div nz-col nzSpan="6">
            <h2>Coiffeurs</h2>
            <nz-tabset>
                <nz-tab nzTitle="Yass">Content of Tab Pane 1</nz-tab>
                <nz-tab nzTitle="Loic">Content of Tab Pane 2</nz-tab>
                <nz-tab nzTitle="Sifo">Content of Tab Pane 3</nz-tab>
            </nz-tabset>
        </div>
    </div>
</div>

<app-footer></app-footer>