.title {
    text-align: center;
    padding-top: 3%;
}

.hours{
    padding-bottom: 3px;
    display: flex;
}

.planning {
    padding-top: 2%;
    width: 70%;
    display: block;
    margin: auto;
}

.menu-admin {
    padding-top: 2%;
    width: 70%;
    display: block;
    margin: auto;
}

.search {
    padding-top: 2%;
    width: 70%;
    display: block;
    margin: auto;
}

.bar {
    padding-bottom: 2%;
}

.label{
    display: block;
    margin: auto;
    padding: 20px;
}

nz-button {
    background: linear-gradient(120deg, #0084ff, #FFFFFF);
}