<app-header></app-header>
<div class="content">
    <h1 class="title">Console d'administration</h1>
    <nz-tabset class="menu-admin">
        <nz-tab nzTitle="Planning">
            <nz-calendar class="planning" [nzDisabledDate]="checkpassdate"
                (nzSelectChange)="select($event);getSchedules($event);showModal()" [(ngModel)]="date" [(nzMode)]="mode"
                (nzPanelChange)="panelChange($event)"></nz-calendar>
            <nz-modal [(nzVisible)]="isVisible" nzTitle="Declarer mes disponibilités" (nzOnCancel)="handleCancel()"
                (nzOnOk)="handleOk()">
                <ng-container *nzModalContent>
                    <div *ngFor=" let  hour of hours">
                        <button class="hours" nz-button nzType="primary">{{ hour.time }}</button>
                    </div>
                </ng-container>
            </nz-modal>
        </nz-tab>
        <nz-tab nzTitle="Utilisateurs">
            <div class="search">
                <div class="bar">
                    <h3>rechercher un utilisateur</h3>
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text" nz-input [(ngModel)]="searchText"
                            placeholder="rechercher par nom d'utilisateur" />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
                    </ng-template>
                </div>
                <ul nz-list [nzDataSource]="users" nzBordered nzSize="large">
                    <nz-list-header>Resultat de la recherche</nz-list-header>
                    <li nz-list-item nzNoFlex *ngFor=" let  user of users | filter:searchText">
                        <ul nz-list-item-actions>
                            <nz-list-item-action>
                                <div class="action">
                                    <label nz-checkbox [(ngModel)]="user.admin"
                                        (ngModelChange)="checkSelectedUser(user)">admin</label>
                                    <button nz-button nzType="primary" nzDanger (click)="removeUser(user)"><span nz-icon
                                            nzType="delete" nzTheme="outline"></span></button>
                                </div>
                            </nz-list-item-action>
                        </ul>
                        {{ user.name }} | {{ user.email }}
                    </li>
                    <nz-list-footer>Footer</nz-list-footer>
                </ul>
            </div>
        </nz-tab>
        <nz-tab nzTitle="Messages">Content of Tab Pane 3</nz-tab>
    </nz-tabset>
</div>
<app-footer></app-footer>