<div data-scroll-container>
    <div class="title">
        <h2 nz-typography>Myspace</h2>
        <p>Secured messaging and social network for business<br><br><button nz-button nzType="primary" nzGhost
                style="width: 150px;">Start now <i nz-icon nzType="aliwangwang" nzTheme="outline"></i></button></p>
        <!-- <img class="logo" src="assets/images/logo.png"> -->
    </div>
    <div class="expl">
        <div nz-row>
            <div nz-col nzSpan="8" nzOffset="6" class="righttxt"><img src="assets/images/keybbd.png">
                <br><br><br><br>
                <h3>Encrypted Database</h3><a>All your data will be safety stored in our systems</a>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="8" nzOffset="11" class="lefttxt"><img src="assets/images/textpng.png">
                <br><br><br><br>
                <h3>End to End messaging</h3><a>We do not know the key used to encrypt your messages</a>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="8" nzOffset="6" class="righttxt"><img src="assets/images/opensource.png">
                <br><br><br><br>
                <h3>Open Source</h3><a>Open source and available on github : </a>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="8" nzOffset="11" class="lefttxt"><img src="assets/images/user.png">
                <br><br><br><br>
                <h3>Social Profile</h3><a>Personnal or business profile</a>
            </div>
        </div>
    </div>
</div>