@import "~locomotive-scroll/dist/locomotive-scroll.css";
/* You can add global styles to this file, and also import other style files */

// body {
//     scroll-behavior: smooth;
// }

.cursor-pointer {
    cursor: pointer;
}

@font-face {
    font-family: "Odudo";
    src: url(assets/fonts/Odudo-Regular.otf);
}

* {
    font-family: "Odudo";
}

button {
    background: linear-gradient(120deg, #0084ff, #FFFFFF);
}

// @font-face {
//     font-family: "opensens";
//     src: url(assets/fonts/OpenSans.ttf);
// }

// * {
//     font-family: "opensens";
// }