<div class="d-flex justify-content-around my-5 py-5 footer">
    <div class="d-flex flex-column">
        <img src="assets/img/logo.svg" width="60px">
    </div>
    <div class="d-flex flex-column">
    </div>
    <div class="d-flex justify-content-between socials text-white p-3">
        <a class="text-white" href=""><img src="../../../assets/images/snapchat.png" width="15"></a>
        <a class="text-white" href=""><i nz-icon nzType="instagram" nzTheme="outline"
                class="mx-4"></i></a>
    </div>
</div>